body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
}
img {
	max-width: 100%;
}



.subscription {
	display: grid;;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	padding: 80px 0px;
}

.subscription .input {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.subscription .sub {
	font-weight: 200;
	padding: 0 10px ;
}


.brand {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: 30px 0;
}


.reviews {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 100px 10px;
	font-size: 1rem;
}


.reviews .review {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 40px; 
}

.review .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.review .header {
	color: #69696E;
}


.review .service {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr ;
}


.link {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 30px 10px;
	font-weight: 600;
	font-size: 1rem;
}

.link .button {
	border: 3px solid #fff;
}


.about {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 90px 0;
}

.about .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}



.about .details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto;
	grid-gap: 20px;
}

.ebook {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 120px 15px;
	font-size: 1rem;
}

.ebook .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto;
	margin: 20px 10px;
}

.ebook-form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.ebbok-form .form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
}


.services {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 120px 0px;
	font-size: 1rem;
}

.services .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.services .types {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}


.services .service {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}


.service .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.service .img {
	align-self: start;
}

.profile {
	border-radius: 50%;
	border: 4px solid #EFF1F4;
	align-self: center;
}

.review .service .img:last-child {
	grid-row: 1;
}

.news {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 120px 0;
}

.new .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.blogs {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.blog {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 0 15px;
}


.blog .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	
}

.blog .content .details {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto auto;

}


.blog-detail {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	text-align: left;
}

.help {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 120px 10px;
}

.help .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	padding: 10px 0 50px;
}

.help .details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr ;
} 

.help .form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.help .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.help .content .header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.help .mods {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}


.help .contact {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.social {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.services .description {
	text-align: left;
	
	font-size: 1em;
	font-weight: 300;
}


.blog .description {
	opacity: 0.7;
	text-align: left;
}

.about .description {
	font-weight: 400;
	line-height: 1.2;
}

.description {
	font-size: 16px;
	font-weight: 600;
	padding: 15px 20px;
}


.about img {
	height: 100%;
}

.name {
	font-weight: 900;
}


.review .designation {
	font-size: 14px;
}


.ebook-form .head {
	text-transform: uppercase;
	font-weight: 800;
	padding: 10px 0px;
}

.blog .title {
	line-height: 1.2;
	text-align: left;
}
.blog .designation {
	font-size: 16px;
	font-weight: 400;
	grid-column: 1 / span 2;
	opacity: 0.7;
	text-align: left;
}

.blog a {
	color: #ef7c46;
	text-decoration: none;
}

.blog .time {
  justify-items: center;
  width: 70%;
  border-radius: 5px;
}


.blog-img .img {
	border-radius: 5px;
}


.social .text {
	grid-column: 1 / span 3;
}

.footer {
	display: grid;
	grid-template-rows: auto auto;
	padding: 60px 0;
}

.title {
	font-weight: 900;
	line-height: 40px;
}

.content {
	display: grid;
	font-weight: 700;
	line-height: 22px;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 1fr;
}


.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	padding: 15px 0px;
}


.fields {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	border: none;
	margin-bottom: 3px;
}

.button {
	width: 100%;
	height: 55px;
	font-weight: 800;
	color: white;
	box-shadow: 0 4px 0 #c76f45;
	border: none;
	border-radius:2px;
}

.help .img {
	border-radius: 50%
}

.hidden-img {
	display: none;
}

.footer {
	display: grid;
	grid-template-rows: auto auto;
}

.footer .social {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (min-width: 486px) {

	.subscription .form {
		width: 50%;
		justify-self: center;
	}

	.brand {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.brand .icon:last-child{
		grid-column: 2;
		grid-row: 2;
	}

	.link {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		padding: 30px 10px;
	}

	.about {
		margin: 0 10px;
	}

	.about .details .description {
		padding: 80px 40px;
	} 

	.ebook-form .inputs {
		padding: 16px 0;
	}

	.services .types {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.services .description {
		font-size: 
	}

	.blogs {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		margin: 10px 30px;
	}

	.help .mods {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.social {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.footer {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.footer .social {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 992px) {

	.brand {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr; 
	}
	.brand .icon:last-child{
		grid-column: 4;
		grid-row: 1;
	}


	.subscription {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.subscription .form {
		grid-template-rows: auto 1fr;
	}

	.subscription .input {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 5px;
	}


	.hidden-img {
		display: grid;
	}
	.review .service{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.review .service:first-child .hidden-img {
		grid-column: 1;
		grid-template-rows: 1;
	} 

	.review  .service:first-child .img{
		grid-column: 3;
		grid-auto-rows: 1;
	}

	.link {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
gri
	.about .details {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.about .details .img:first-child {
		grid-auto-rows: 1 / span 2;
	}

	.ebook {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.services .types {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.about .details{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.about .details .img:first-child {
		grid-row: 1 / span 2;
	}

	.help .details {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
  
}

.__bgDarkGrey {
	background-color:  #525e6c;
}

.__bgBlue{
	background-color: #439FE0;
}

.__bgOrange {
	background-color: #ef7c46;
}
.__bgGrey{
	background-color: #E5E5E5;
}

.__grey {
	color: #657380;
}
.__white {
	color: #fff;
}

.__font2{
	font-size: 2em;
}

.__font105 {
	font-size: 1.5em;
}

.__fontS {
	font-size: 
}
